body {
  background-color: whitesmoke;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

#navbar a {
  color: black;
  text-decoration: none;
}
#login-btn {
  color: white;
  background: black;
  padding: 12px 40px;
  font-size: 15px;
  border-radius: 50px;
  border: 1px;
  font-weight: bold;
  font-style: italic;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
}

.hero-content {
  width: 50%;
}

.hero-description {
  display: flex;
  font-size: 23px;
  font-weight: lighter;
  padding: 15px;
  color: rgb(140, 140, 140);
}

.hero-content h1 {
  font-size: 56px;
  color: #455eae;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-tag {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.hero-image {
  width: 45%;
}

.hero-image img {
  width: 100%;

  display: block;
}

.btn1 {
  background-color: #f01f5a;
  color: white;
  padding: 15px 30px;
  border: 3px;
  border-radius: 25px;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  margin-right: 20px;
}

.btn2 {
  background-color: white;
  padding: 15px 30px;
  border: 1px solid rgb(227, 224, 224);
  border-radius: 25px;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
}

#bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 50px auto;
  padding: 30px 50px;
  background: #4058a5;
  border-radius: 20px;
}

.bar-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tit {
  color: white;
  margin: 0;
}

.p1 {
  color: #c7d2f7;
  margin: 0;
}

.btn3 {
  background-color: white;
  padding: 15px 20px;
  border: 1px solid rgb(227, 224, 224);
  border-radius: 25px;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
}

.comment {
  background-color: white;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
}

#com1 {
  position: relative;
  background: white;
  width: 600px;
  padding: 40px;
  border-radius: 20px;
}

.p2 {
  font-size: 22px;

  line-height: 1.6;

  color: #222;

  margin-bottom: 60px;
}

.card-footer {
  display: flex;

  justify-content: space-between;

  align-items: center;
}

.profile-info h3 {
  margin: 0;

  color: #4158a6;

  font-size: 28px;
}

.profile-info p {
  margin-top: 8px;

  color: gray;

  font-size: 20px;
}

.quote-icon {
  font-size: 100px;
  color: #d8ddff;
  font-weight: bold;
  position: relative;
}

.future h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  font-weight: 100px;
  font-size: 30px;
}

.buttoms {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn4 {
  background-color: white;
  padding: 35px 80px;
  border: 1px solid rgb(227, 224, 224);
  border-radius: 25px;
  font-weight: bold;
  font-size: 30px;
}

.btn5 {
  background-color: white;
  padding: 35px 80px;
  border: 1px solid rgb(227, 224, 224);
  border-radius: 25px;
  font-weight: bold;
  font-size: 30px;
}

.btn6 {
  background-color: white;
  padding: 35px 80px;
  border: 1px solid rgb(227, 224, 224);
  border-radius: 25px;
  font-weight: bold;
  font-size: 30px;
}
